
.menu-bars {
  font-size: 1rem;
  background: none;
}

.sidenav {
  // background-color:  var(--sidenav-background-color, gray );
  width: auto;
  height: 100vh;
  display: flex;
  position: fixed;
  left: -100%;
  z-index: 1;
  transition: 850ms;
}

.sidenav.active {
  left: 0;
  transition: 350ms;
}

